In [55]:
import pandas as pd
import numpy as np
# Step 2: Load the CSV file
df = pd.read_csv('/Users/zahranazemian/Desktop/Python/cars.csv')
df.head(3)

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1

In [56]:
df['drive-wheels'].value_counts()

drive-wheels
fwd    118
rwd     75
4wd      8
Name: count, dtype: int64

In [57]:
df['drive-wheels'].value_counts().to_frame()

              count
drive-wheels
fwd             118
rwd              75
4wd               8

In [58]:
drive_wheels_counts = df['drive-wheels'].value_counts().to_frame()
drive_wheels_counts.reset_index(inplace=True)
drive_wheels_counts=drive_wheels_counts.rename(columns={'drive-wheels': 'value_counts'})
drive_wheels_counts

  value_counts  count
0          fwd    118
1          rwd     75
2          4wd      8

In [60]:
drive_wheels_counts.index.name = 'drive-wheels'
drive_wheels_counts

             value_counts  count
drive-wheels
0                     fwd    118
1                     rwd     75
2                     4wd      8

In [61]:
df['engine-location'].value_counts()

engine-location
front    198
rear       3
Name: count, dtype: int64

In [63]:
engine_location_counts = df['engine-location'].value_counts().to_frame()

In [64]:
engine_location_counts

                 count
engine-location
front              198
rear                 3

In [65]:
engine_location_counts.reset_index(inplace=True)
engine_location_counts

  engine-location  count
0           front    198
1            rear      3

In [66]:
engine_location_counts=engine_location_counts.rename(columns={'engine-location': 'value_counts'})
engine_location_counts

  value_counts  count
0        front    198
1         rear      3

In [67]:
engine_location_counts.index.name = 'engine-location'
engine_location_counts

                value_counts  count
engine-location
0                      front    198
1                       rear      3